* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: #0f0f17;
  color: #fff;
  padding: 16px;
}

.container {
  max-width: 420px;
  margin: auto;
}

/* topo */
.header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.profile-photo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 3px solid #00ff8c;
  object-fit: cover;
}

.badge {
  background: #00b080;
  color: #000;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

/* título */
h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* valor */
.valor-box {
  background: #14142b;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 255, 140, 0.2);
}

.valor-box .rs {
  font-size: 1.3rem;
}

.valor {
  font-size: 3.6rem;
  font-weight: 900;
  color: #00ff8c;
  display: block;
}

.mensagem {
  color: #aaa;
  font-size: 0.9rem;
}

/* parcela */
select {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  background: #1a1a2e;
  color: #fff;
  border: 1px solid #00ff8c;
  outline: none;
}

/* vencimento */
.vencimento {
  text-align: center;
  color: #aaa;
  margin: 10px 0 20px;
}

/* benefícios */
.beneficios {
  list-style: none;
  margin-bottom: 20px;
  font-size: 1rem;
}

.beneficios li {
  margin: 8px 0;
}

/* botão pagar */
.btn-pagar {
  display: block;
  width: 100%;
  background: #00cc77;
  color: #000;
  text-align: center;
  padding: 16px;
  border-radius: 40px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 15px;
  transition: 0.2s;
}

.btn-pagar:hover {
  transform: translateY(-1px);
}

/* segurança */
.seguranca {
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 15px;
}

/* botão whatsapp */
.whatsapp a {
  display: block;
  text-align: center;
  background: #25d366;
  color: #000;
  padding: 12px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}
